.page-container {
  width: 100vw;
  height: 100vh;
  background: #aac4b4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.branches {
  position: absolute;
  width: 30%;
  pointer-events: none;
}

.branches.right {
  right: -40px;
  bottom: -20px;
  top: 7px;
  bottom: 120px;
}

.branches.left {
  left: -40px;
  top: 7px;
  bottom: 100px;
  transform: scaleX(-1);
}

.scattered-flowers img {
  position: absolute;
  pointer-events: none;
  opacity: 0.9;
}

.f1 {
  top: 40%;
  left: 10%;
  width: 150px;
}
.f2 {
  bottom: 0%;
  right: 5%;
  width: 250px;
}
.f3 {
  bottom: 0%;
  left: 20%;
  width: 250px;
}
.f4 {
  bottom: 15%;
  left: 3%;
  width: 110px;
}
.f5 {
  top: 50%;
  left: 66%;
  width: 130px;
}
.f6 {
  bottom: 38%;
  right: 5%;
  width: 100px;
}

.card {
  width: 480px;
  padding: 30px 30px;
  padding-bottom: 40px;
  background: #294936;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.welcome-text {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Pixelify Sans", sans-serif;
}

.logo {
  width: 160px;
  display: block;
  margin: 0 auto 30px auto;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background: #f7f3ed;
  border: none;
  border-radius: 10px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Pixelify Sans", sans-serif;
  color: #422b23;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  transform: scale(1.05);
}
