.page-container {
  width: 100vw;
  height: 100vh;
  background: #AAC4B4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.branches {
  position: absolute;
  width: 30%; 
  pointer-events: none;
}

.branches.right {
  right: -40px;   
  bottom: -20px;
  top: 7px;
  bottom: 120px;
}

.branches.left {
  left: -40px;
  top: 7px;
  bottom: 100px;
  transform: scaleX(-1);  
}

.scattered-flowers img {
  position: absolute;
  pointer-events: none;
  opacity: 0.9;
}

.f1 { top: 10%; left: 15%; width: 100px;}
.f2 { top: 30%; right: 10%; width: 100px;}
.f3 { bottom: 20%; left: 25%; width: 100px;}
.f4 { bottom: 10%; right: 30%; width: 100px;}
.f5 { top: 60%; left: 70%; width: 100px;}

.card {
  width: 480px;
  padding: 40px 30px;
  background: #294936;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.welcome-text {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Pixelify Sans", sans-serif;
}

.logo {
  width: 160px;
  display: block;
  margin: 0 auto 30px auto;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background: #F7F3ED;
  border: none;
  border-radius: 10px;
  padding: 12px 28px;
  font-size: 16px;
  font-family: "Pixelify Sans", sans-serif;
  color: #422B23;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transition: 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}
