.signin-page {
  width: 100vw;
  height: 100vh;
  background: #dba1a2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pixelify Sans", sans-serif;
}

.signin-card {
  background: #efd8d6;
  width: 420px;
  padding: 40px 35px;
  border-radius: 25px;
  text-align: center;
}

.signin-logo {
  width: 120px;
  margin: 0 auto 25px;
  display: block;
}

.signin-form label {
  font-size: 12px;
  font-weight: 800;
  color: #422b23;
  display: block;
  text-align: left;
  margin-bottom: 4px;
  margin-top: 12px;
}

.signin-input {
  width: 100%;
  height: 32px;
  background: #f7f3ed;
  color: black;
  border: none;
  border-radius: 4px;
  padding-left: 6px;
  font-size: 14px;
}

.forgot-text {
  font-size: 11px;
  color: #422b23;
  text-decoration: underline;
  margin-top: 6px;
  text-align: left;
  cursor: pointer;
}

.signin-btn {
  margin-top: 18px;
  width: 100px;
  height: 36px;
  background: #422b23;
  color: #f7f3ed;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.signin-btn:hover {
  transform: scale(1.05);
}
